html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

#legend {
  width: 125px;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #000;
}
.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  text-align:center;
  font-size:9px;
  color:#808080;
}
.legend label {
  width: 75%;
}
.legend span {
  width: 25%;
}
.legend small {
  display: block;
  padding-top: 60px;
}
.status {
  display: block;
  float:   left;
  width:   20px;
  height:  20px;
  border:  1px solid #000;
  margin:  0 5px 0 0;
}

/* Path styling for Available homes */
.available-home-path {
  stroke: green;
  fill: green;
  stroke-width: 1px;
}
/* Path styling for Sold homes */
.sold-home-path {
  stroke: red;
  fill: red;
  stroke-width: 1px;
}
/* Path styling for Reserved homes */
.reserved-home-path {
  stroke: black;
  fill: yellow;
  stroke-width: 1px;
}
/* Path styling for Model homes */
.model-home-path {
  stroke: purple;
  fill: purple;
  stroke-width: 1px;
}
/* Path styling for Future Phase homes */
.future-phase-home-path {
  stroke: #000;
  fill: #000;
  stroke-width: 1px;
}

/* Community Features path styling for "Type": "Structure" */
.structure-path {
  stroke: brown;
  fill: brown;
  stroke-width: 1px;
}
/* Community Features path styling for "Type": "Water" */
.water-path {
  stroke: blue;
  fill: blue;
  stroke-width: 1px;
}
/* Community Features path styling for "Type": "Landscaping" */
.landscaping-path {
  stroke: darkgreen;
  fill: darkgreen;
  stroke-width: 1px;
}
/* Community Features path with "Type" property other than above */
.other-path {
}

/* Lot label div */
.lot-icon {
  pointer-events: none;
  border: 0;
  font-size: 10px;
  margin-left: 0;
  line-height: normal;
}

/* Community label div */
.community-icon {
  pointer-events: none;
  border: 0;
}

/* Cluster label div */
.cluster-icon {
  pointer-events: none;
  border: 0;
}

/* Section boundary features */
.section-path {
  stroke: black;
  fill: black;
  stroke-width: 1px;
}
