<script id="legend-template" type="text/x-handlebars-template">
  <h1>Legend</h1>

  <ul>
    <li><span class="status available"></span>Available</li>
    <li><span class="status unavailable"></span>Unavailable</li>
  </ul>
</script>
