<div id='legend' style=''>
  <strong>Legend</strong>
  <nav class='legend clearfix'>
    <span style='background:#008a33;'></span><label>Available</label>
    <span style='background:red;'></span><label>Sold</label>
    <span style='background:yellow;'></span><label>Reserved</label>
    <span style='background:#c76bbc;'></span><label>Model</label>
    <span style='background:#000;'></span><label>Future Phase</label>
    <small>Source: <a href="#link to source">Some footer text.</a></small>
  </nav>
</div>
