<h3>Popup Template</h3>

<ul>
  <li><strong>Lots: </strong>{{lot}}</li>
  <li><strong>Block: </strong>{{block}}</li>
  <li><strong>Section: </strong>{{section}}</li>
  <li><strong>Status: </strong>{{status}}</li>
</ul>
